body {
    margin: 0 auto;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555
}

ul {
    list-style: none;
    display: block;
    width: 90%;
    margin: 0 auto;
}


img {
    border: 5px solid black;
    margin: auto;
    width: 90%;
}

li{
    margin-bottom: 20px
}


footer{
    width: 100%;
    text-align: center;
    display: block;
    float:left;
    
}

@media only screen and (max-width:600px) {
    li{
        display: inline-block;
        text-align: center;
        width: 75%;
    }
}

@media only screen and (min-width:600px) and (max-width: 1200px) {
    li {
        display: inline-block;
        width: 45%;
    }
}

@media only screen and (min-width: 1200px) {
    li {
        display: inline-block;
        width: 22%;
    }
}